body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #004d9d;
    color: #ffffff;
}

h1 {
    margin-bottom: 5px;
    font-size: 24px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
   color: #dddddd; 
}

section {
    height: 100vh;
    background-color:pink;
    background-size:cover;
    background-attachment: fixed;
}

.img-1 {
    background-image: url("assets/sally_1.jpg");
}

.img-2 {
    background-image: url("assets/sally_2.jpg");
}

.img-3 {
    background-image: url("assets/sally_3.jpg");
}

.img-4 {
    background-image: url("assets/sally_4.jpg");
}

.img-5 {
    background-image: url("assets/sally_5.jpg")
}

.img-6 {
    background-image: url("assets/sally_6.jpg")
}

.img-7 {
    background-image: url("assets/sally_7.jpg")
}

.img-8 {
    background-image: url("assets/sally_8.jpg")
}


header {
    font-family: 24px;
    position: fixed;
    top: 20px;
    left: 20px;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

footer a {
    margin-right: 5px;
}


