body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #004d9d;
    color: #ffffff;
}

h1 {
    margin-bottom: 5px;
    font-size: 24px;
}

a {
    color: #ffffff;
    text-decoration: none;

}

a:hover {
   color: #dddddd; 
}

section {
    height: 100vh;
    background-color:pink;
    background-image: url("assets/sally_1.jpg");
    background-size:cover;
}

header {
    font-family: 24px;
    position: fixed;
    top: 20px;
    left: 20px;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

footer a {
    margin-right: 5px;
}


